html body {
    margin: 0;
}
header {
    display:grid;
    place-items: center;
    color: white;
    background-color:green;
    text-align: center;
    height: 100px;
    font-size: 30px;
}
.content {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: rgb(35, 44, 41);
    height: 50px;
    color: white;
    place-items: center;
}
.home{
    display: grid;
    width: 100px;
    box-sizing: border-box;
    padding: 10px;
    height: 50px;
    place-items: center;
}
.projects{
    display: grid;
    width: 100px;
    box-sizing: border-box;
    padding: 10px;
    height: 50px;
    place-items: center;
}
.contract{
    display: grid;
    width: 100px;
    box-sizing: border-box;
    padding: 10px;
    height: 50px;
    place-items: center;
}

.content2 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: rgb(161, 201, 161);
    height: 300px;
    color: white;
}
.projectsa {
    box-sizing: border-box;
    width: 33%;
    background-color: rgb(255, 0, 0);
    margin: 5px;
    text-align: center;
    overflow: auto;
}
.projectsb {
    box-sizing: border-box;
    width: 33%;
    background-color: rgb(242, 255, 0);
    margin: 5px;
    text-align: center;
    color: black;
    overflow: auto;
}
.projectsc {
    box-sizing: border-box;
    width: 33%;
    background-color: rgb(242, 189, 242);
    margin: 5px;
    text-align: center;
    overflow: auto;
}
.columprojectsa{
    flex-direction: column;
    color: rgb(103, 37, 190);

}
.columprojectsb{
    flex-direction: column;
}
.columprojectsc{
    flex-direction: column;
}
.img img {
    border-radius: 100%;
  }
.footer{
    display: grid;
    place-items: center;
    border: solid 1px;
    height: 20px;
    flex-direction: row;
}
a:hover{
    background-color: white;
    color: black;
    height: 50px;
    width: 100px;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    margin-top: -10px;
    margin-left: -10px;
}